[user]
	name = Hiraku NAKANO
	email = hiraku@tojiru.net

[color]
    ui = auto

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[ghq]
    root = ~/src

[core]
    excludesfile = ~/.gitignore_global

[url "git@github.com:"]
    pushInsteadOf = git://github.com/
    pushInsteadOf = https://github.com/
[url "git://github.com/"]
    insteadOf = https://github.com/

