[submodule ".vim/pack/cespare/start/vim-toml"]
	path = .vim/pack/cespare/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/pack/hashivim/start/vim-terraform"]
	path = .vim/pack/hashivim/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform
[submodule ".vim/pack/ekalinin/opt/Dockerfile.vim"]
	path = .vim/pack/ekalinin/opt/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".vim/pack/itchyny/start/landscape.vim"]
	path = .vim/pack/itchyny/start/landscape.vim
	url = https://github.com/itchyny/landscape.vim
[submodule ".vim/pack/itchyny/start/lightline.vim"]
	path = .vim/pack/itchyny/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule ".vim/pack/NLKNguyen/start/papercolor-theme"]
	path = .vim/pack/NLKNguyen/start/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule ".vim/pack/ekalinin/start/Dockerfile.vim"]
	path = .vim/pack/ekalinin/start/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".vim/pack/thinca/start/vim-quickrun"]
	path = .vim/pack/thinca/start/vim-quickrun
	url = https://github.com/thinca/vim-quickrun
[submodule ".vim/pack/tyru/start/open-browser-github.vim"]
	path = .vim/pack/tyru/start/open-browser-github.vim
	url = https://github.com/tyru/open-browser-github.vim
[submodule ".vim/pack/tyru/start/open-browser.vim"]
	path = .vim/pack/tyru/start/open-browser.vim
	url = https://github.com/tyru/open-browser.vim
[submodule ".vim/pack/editorconfig/start/editorconfig-vim"]
	path = .vim/pack/editorconfig/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/prabirshrestha/start/vim-lsp"]
	path = .vim/pack/prabirshrestha/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/pack/mattn/start/vim-lsp-settings"]
	path = .vim/pack/mattn/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule ".vim/pack/prabirshrestha/start/async.vim"]
	path = .vim/pack/prabirshrestha/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule ".vim/pack/prabirshrestha/start/asyncomplete.vim"]
	path = .vim/pack/prabirshrestha/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/prabirshrestha/start/asyncomplete-lsp.vim"]
	path = .vim/pack/prabirshrestha/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".vim/pack/mattn/start/vim-goimports"]
	path = .vim/pack/mattn/start/vim-goimports
	url = https://github.com/mattn/vim-goimports
[submodule ".vim/pack/aklt/start/plantuml-syntax"]
	path = .vim/pack/aklt/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule ".vim/pack/buoto/start/gotests-vim"]
	path = .vim/pack/buoto/start/gotests-vim
	url = https://github.com/buoto/gotests-vim
[submodule ".vim/pack/jjo/start/vim-cue"]
	path = .vim/pack/jjo/start/vim-cue
	url = https://github.com/jjo/vim-cue
[submodule ".vim/pack/tokorom/start/vim-review"]
	path = .vim/pack/tokorom/start/vim-review
	url = https://github.com/tokorom/vim-review
